#wallpaper{
    background-image: url(./istockphoto-1344724504-170667a.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;
}
#tb{
    height: 300px;
    width: 850px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 45px;
    padding-top: 60px;
    margin: auto;
    margin-top: 70px;
    background-color: rgb(233, 227, 227);
}
#signup{
    margin-left: 290px;
    margin-top: 20px;
}
#head{
    margin-left: 500px;
    margin-top: 70px;
    color: white;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    
}
#error{
    color: rgb(211, 61, 24);
}