.logimg{
    background-image: url(./loginwallpaper.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;
}
#login{
    height: 350px;
    width: 200px;
    border: 2px solid rgb(14, 13, 13);
    padding-left: 20px;
    padding-top: 50px;
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
    margin-right: 300px;
}
#user{
    border-radius: 20px;
}
#pswd{
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#lh{
    margin-bottom: 50px;
    margin-left: 35px;
    font-size: larger;
    font-style: normal;
    font-weight: 300;
}
#heading{
    margin-left: 550px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
}
#log{
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: rgb(19, 19, 219);
}
#forgot{
    margin-left: 10px;
    border-radius: 10px;
}
#signupusing{
    margin-left: 35px;
    margin-top: 40px;
}
#sort1,#sort2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#sort1{
    display: inline-block;
    margin-left: 30px;
    background-image: url(./Facebook_f_logo_\(2021\).svg.png); background-repeat: no-repeat; background-size: cover; background-position: center;
}
#sort2{
    display: inline-block;
    margin-left: 30px;
    background-image: url(./517550.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;
}
#signup{
    margin-left: 850px;
    margin-top: 20px;
}
#signup1{
    margin-left: 900px;
    margin-top: 10px;
}

