#wallpaper{
   background-image: url(./2474061.webp);background-repeat: no-repeat; background-size: cover; background-position: center;
}
#mode{
   margin-left: 250px;
   margin-top: 90px;
   #//border: 1px solid black;
   height: 250px; width: 900px;
}
#head{
   font-size: x-large;
   font-style: initial;
   color: darkblue;
   margin-left: 550px;
   margin-top: 70px;
}
#flight{
   display: inline-block;
   margin-left: 250px;
   height: 200px;
   width: 300px;
   border: 2px solid rgb(199, 196, 196);
}
#bus{
   display: inline-block;
   height: 200px;
   width: 300px;
   border: 2px solid rgb(199, 196, 196);
}
#content{
   margin-left: 550px;
   margin-top: 55px;
   font-weight: 600;
}